<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>Angular Router</h1>
  <nav>
    <a  class="btn btn-primary" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="btn btn-primary" routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
    <a class="btn btn-primary" routerLink="/heroes" routerLinkActive="active">Heroes</a>
    <a class="btn btn-primary" routerLink="/gallery" routerLinkActive="active">Gallery</a>
  </nav>
</div>
<div class="container">
  <div class="panel">
    <div class="panel panel-heading">{{title}}</div>
    <div class="panel panel-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="col-sm-3"></div>
<app-hero-form></app-hero-form>




